<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-light">
        {{user.firstName}}
      </li>
      <li class="list-group-item list-group-item-light">
        {{user.lastName}}
      </li>
      <li class="list-group-item list-group-item-light">
        {{user.employeeId}}
      </li>
    </ul>
  </div>
  <div class="col">
    <div class="col-md-3 mb-2">
      <button type="button" name="Edit" class="btn btn-primary btn-sm btn-block" (click)=handleEdit() >Edit</button>
    </div>

    <div class="col-md-3 mb-2">
      <button type="button" name="Edit" class="btn btn-primary btn-sm btn-block">Delete</button>
    </div>
  </div>
</div>
<hr>
