<div class="row">
  <div class='col-md-6 d-flex'>
    <div class="col-md-9">
      <ul class="list-group">
        <li class="list-group-item">
          Project: {{project.project.projectTitle}}
        </li>
        <li class="list-group-item d-flex justify-content-between">
          No. Of Tasks: {{project.tasksCount}}
          <span>Completed: {{project.completedTasksCount}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          Start Date: {{project.project.startDate | date}}
          <span>End Date: {{project.project.endDate | date}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
        Priority: {{project.project.priority}}
    </div>
  </div>
  <div class="col">
    <div class="col-md-3 mb-2">
      <button type="button" name="UpdateProject" class="btn btn-primary btn-sm btn-block"
        (click)=handleUpdate()>Update</button>
    </div>
    <div class="col-md-3 mb-2">
      <button type="button" name="SuspendProject" class="btn btn-primary btn-sm btn-block">Suspend</button>
    </div>
  </div>
</div>
<hr>
